@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,400;1,100;1,300&family=Fira+Sans:wght@300&family=Roboto+Condensed&display=swap');
body{
    background-color: rgb(24, 24, 24);
	margin: 0; 
	

}
*{
    font-family: 'Roboto Condensed','ira Sans', Courier, monospace;
    margin: 0;
    padding: 0;
}
 .Header{
    padding: 0% 1% 0% 1%;
    align-items: center; 
  
 }
.Navi{   
    float:right!important;
    font-size:18px!important;
    /*   --NOT WORKING CODE--

    padding-right:30px!important;
    margin-right:120px !important;
    margin: 2%;
              ----------
    */
    /*padding-bottom: 0px!important;*/
    padding-right: 33px!important;
    margin-right: 3px !important;
    margin: 38px;
    
}   
.hero{
padding: 156px 46px 31px 3px;
justify-content:left;
align-items: center;
flex-direction: ;
color: white;
}
   /* NAVBAR ENS */
.card{
    border: 1px solid black;
    
}   
.h1{
padding-top: 0;;
}
